<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>
<%- include('../partials/sidebar'); -%>

<!-- Main section -->
<main class="mt-5 pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 fw-bold fs-3">
        View Orders
      </div>
    </div>
    <div class="row">
      <div class="row justify-content-md-center">
        <table class="table table-striped table-hover">
          <tr>
            <th>
              Order id
            </th>
            <th>
              Price
            </th>
            <th>Status</th>
            <th>
              Action
            </th>
          </tr>
          <% for(let order of orders) { %>

          <tr>
            <td>
              <%= order.orderId %>
            </td>
            <td>
              <%= order.total %>
            </td>
            <td>
              <%= order.status %>
            </td>
            <td>
              <a href="/seller/order/<%= order.orderId %>" class="btn btn-outline-primary">View</a>
            </td>
          </tr>
          <% } %>
        </table>

      </div>
    </div>

  </div>
  </div>
</main>
<!-- End Main section -->

<%- include('../partials/footer'); -%>