<%- include('../partials/header'); -%> <%- include('../partials/navbar'); -%>
<div class="container">
  <h1>Password Recovery</h1>

  <% if(message){ %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>

  <form action="/forget/recover/<%= code %>" method="post">
    <div class="mb-3">
      <label for="password" class="form-label">Enter new password</label>
      <input id="password" type="text" class="form-control" name="password" placeholder="New password" />
    </div>

    <div class="mb-3">
      <input type="submit" value="Change Password" class="btn btn-primary" name="submit" />
    </div>
  </form>
</div>
<%- include('../partials/footer'); -%>