<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>
<div class="container">
  <h1>Hello, <%= loggedInUser.username %></h1>

  <div class="d-flex">
    <div class="card m-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Personal Profile</h5>
        <p class="card-text">
        <ul>
          <li><%= user.username %></li>
          <li><%= user.email %></li>
        </ul>
        </p>
        <a href="" class="btn btn-primary">Edit</a>
      </div>
    </div>

    <div class="card m-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Address Book</h5>
        <p class="card-text">
          <% if(user.profile != null){ %>
        <ul>
          <li>Home</li>
          <li>Work</li>
          <li>Other</li>
        </ul>
        <% }else{ %>
        <p>You have no addresses</p>
        <% } %>

        </p>
        <a href="" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>


</div>

<%- include('../partials/footer'); -%>