<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
      <ul class="navbar-nav mx-auto">

        <a class="navbar-brand" href="/"><%= process.env.APP_NAME %></a>
        <!-- Search box -->
        <div class="d-flex flex-row justify-content-center">
          <form class="row g-3" action="/" method="get">
            <div class="col-auto">
              <% if(search.q){ %>
              <input style="min-width: 340px;" type="search" name="q" value="<%= search.q %>" onkeyup="showResult(this.value)" autocomplete="off" class="form-control" id="q" placeholder="Search for products, brands and more">
              <% } else { %>
              <input style="min-width: 340px;" type="search" name="q" onkeyup="showResult(this.value)" autocomplete="off" class="form-control" id="q" placeholder="Search for products, brands and more">
              <% } %>
              <div class="search-suggestion" id="suggestion"></div>
            </div>
            <!-- <div class="col-auto">
              <button type="submit" class="btn btn-lg btn-outline-primary mb-3">Search</button>
            </div> -->
          </form>
        </div>
        <!-- end search box -->


        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"> <i class="bi bi-house-door"></i>Home</a>
        </li> -->

        <% if(loggedInUser) {%>
        <li class="nav-item">
          <a class="nav-link" href="/cart">
            <i class="bi bi-cart2"></i> Cart
          </a>
        </li>
        <% } %>

        <!-- Product category -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% for(let category of categories){ %>
            <li><a class="dropdown-item" href="/category/<%= category.slug %>"><%= category.name %></a></li>
            <% } %>
          </ul>

          <script>
            // implement multilevel category
          </script>
        </li>
        <!-- End Product category -->

        <li class="nav-item">
          <a class="nav-link" href="/shop">
            <i class="bi bi-shop"></i> Shop
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/createshop">
            <i class="bi bi-shop"></i> Become e seller
          </a>
        </li>

        <% if(!loggedInUser){ %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i>Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/login">Login</a></li>
            <li><a class="dropdown-item" href="/register">Register</a></li>
          </ul>
        </li>
        <% }else{ %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i>
            <%= loggedInUser.username %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/profile">Manage My Account</a></li>
            <li><a class="dropdown-item" href="/order">My Orders</a></li>
            <li><a class="dropdown-item" href="/order">My Wishlist</a></li>
            <li><a class="dropdown-item" href="/order">My Reviews</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>

        <% } %>


      </ul>
    </div>
  </div>
</nav>