<%- include('../partials/header'); -%> <%- include('../partials/navbar'); -%>

<div class="container">
  <article>
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
  </article>
</div>

<%- include('../partials/footer'); -%>
