<%- include('../partials/header'); -%>
  <%- include('../partials/navbar'); -%>

    <div class="container">
      <article>
        <h1>
          <%= post.name %>
        </h1>
        <p>
          <%= post.description %>
        </p>

        <a class="btn btn-primary" href="/cart/add/<%= post.id %>">Add to Cart.</a>
      </article>
    </div>

    <%- include('../partials/footer'); -%>