<%- include('../../partials/header'); -%>
<%- include('../../partials/navbar'); -%>

<div class="container">
  <h1>Your all products here</h1>

  <div class="d-flex flex-row justify-content-center">
    <form class="row g-3" action="/store/product" method="get">

      <% if(search.q){ %>
      <div class="col-auto">
        <input type="search" name="q" value="<%= search.q %>" class="form-control form-control-lg" id="" placeholder="Search what you want...">
      </div>
      <% }else{%>
      <div class="col-auto">
        <input type="search" name="q" class="form-control form-control-lg" id="" placeholder="Search what you want...">
      </div>
      <% } %>
      <div class="col-auto">
        <button type="submit" class="btn btn-lg btn-outline-primary mb-3">Search</button>
      </div>

      <% if(search.q){ %>
      <% if(search.count > 0) {%>
      <div>Searched for <strong><%= search.q %></strong> found <strong><%= search.count %></strong> results! in <strong><%= search.time %></strong></div>
      <% }else{ %>
      <div>Searched for <strong><%= search.q %></strong> found <strong><%= search.count %></strong> results!</div>
      <% } %>
      <% } %>

    </form>
  </div>
  <div class="row justify-content-md-center">

    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Description</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
      <% for(let post of posts.data) { %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.price %></td>
        <td><%= post.stock %></td>
        <td><%= post.description %></td>
        <td><img src="/uploads/products/<%= post.ProductImage[0].url %>" alt="<%= post.name %>" width="100" height="100"></td>
        <td>
          <a href="/product/edit/<%= post.id %>">Edit</a>
          <a href="/product/delete/<%= post.id %>">Delete</a>
        </td>
      </tr>
      <% } %>
    </table>


    <% if(search.q){ %>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <% for(let i=0; i < posts.pagination; i++) {%>
        <li class="page-item">
          <% if(page == i+1){ %>
          <a class="page-link active" href="/?q=<%= search.q %>&page=<%= i+1 %>"><%= i+1 %></a>
          <% } else { %>
          <a class="page-link" href="/?q=<%= search.q %>&page=<%= i+1 %>"><%= i+1 %></a>
          <% } %>
        </li>
        <% } %>
      </ul>
    </nav>
    <% } else{ %>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <% for(let i=0; i < posts.pagination; i++) {%>
        <li class="page-item">
          <% if(page == i+1){ %>
          <a class="page-link active" href="/store/product?page=<%= i+1 %>"><%= i+1 %></a>
          <% } else { %>
          <a class="page-link" href="/store/product?page=<%= i+1 %>"><%= i+1 %></a>
          <% } %>
        </li>
        <% } %>
      </ul>
    </nav>

    <% } %>
  </div>
</div>

<%- include('../../partials/footer'); -%>