<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>

<div class="container">
  <div class="d-flex flex-column justify-content-center">
    <div>
      <h1>My Store</h1>
      <br>
    </div>

    <% if(isStore){ %>
    <div>

      <a class="btn btn-outline-primary" href="/product/add">Add Product</a>
      <a class="btn btn-outline-primary" href="/product/add">View Products</a>
      <a class="btn btn-outline-primary" href="/product/add">Orders</a>

      <table class="table">
        <tr>
          <th>Store Name</th>
          <th>Store Phone</th>
          <th>Store Email</th>
          <th>Action</th>
        </tr>
        <tr>
          <td><%= store.StoreDetails[0].name %></td>
          <td><%= store.StoreDetails[0].phone %></td>
          <td><%= store.StoreDetails[0].email %></td>
          <td> <a href="/store/editstore">Edit</a></td>
        </tr>

      </table>
    </div>

    <% }else{ %>

    <div class="align-items-center">
      <form action="/store/createstore" method="get">
        <button class="btn btn-lg btn-primary" type="submit">Create Store</button>
      </form>
    </div>
    <% } %>

  </div>

</div>

<%- include('../partials/footer'); -%>