<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>

<div class="container">
  <h1>Buy here with joy</h1>

  <div class="d-flex flex-row justify-content-center">
    <form class="row g-3" action="/" method="get">

      <% if(search.q){ %>
      <div class="col-auto">
        <input type="search" name="q" value="<%= search.q %>" onkeyup="showResult(this.value)" autocomplete="off" class="form-control form-control-lg" id="q" placeholder="Search what you want...">
        <div class="search-suggestion" id="suggestion"></div>
      </div>
      <% }else{%>
      <div class="col-auto">
        <input type="search" name="q" onkeyup="showResult(this.value)" autocomplete="off" class="form-control form-control-lg" id="q" placeholder="Search what you want...">
        <div class="search-suggestion" id="suggestion"></div>
      </div>
      <% } %>
      <div class="col-auto">
        <button type="submit" class="btn btn-lg btn-outline-primary mb-3">Search</button>
      </div>

      <% if(search.q){ %>
      <% if(search.count > 0) {%>
      <div>Searched for <strong><%= search.q %></strong> found <strong><%= search.count %></strong> results! in <strong><%= search.time %></strong></div>
      <% }else{ %>
      <div>Searched for <strong><%= search.q %></strong> found <strong><%= search.count %></strong> results!</div>
      <% } %>
      <% } %>

    </form>
    <script>
      // autocomplete
      function getData(str) {
        if (str.length == 0) {
          document.getElementById("suggestion").innerHTML = "";
          document.getElementById("suggestion").style.border = "0px";
        }

        // ajax call
        http.ajax({
          url: `/search?q=${str}`,
          method: 'GET',
          dataType: "json",
          success: (res) => {
            let data = res.posts.data
            let html = '';
            if (data.length > 0) {
              for (let i = 0; i < data.length; i++) {
                html += `<a href="/?q=${data[i].name}" class="list-group-item list-group-item-action">${data[i].name}</a>`;
              }
            } else {
              html = '';
            }
            document.getElementById("suggestion").innerHTML = html;
            document.getElementById("suggestion").style.border = "1px solid #A5ACB2";
          }
        });
      }

      const showResult = debounce(getData, 300);
    </script>
  </div>
  <div class="row justify-content-md-center">
    <% for(let post of posts.data) { %>


    <!-- product card start -->
    <div class="card" style="width: 18rem; margin: 10px;">

      <a href="/product/<%= post.id %>">

        <!-- display images -->
        <% for(let image in post.ProductImage){ %>
        <img class="card-img-top" src="/uploads/products/<%= post.ProductImage[image].url %>" alt=" <%= post.name %>" />
        <% } %>
      </a>

      <div class="card-body">
        <h5 class="card-title"> <a href="/product/<%= post.id %>">
            <%= post.name %>
          </a> </h5>
        <% if(post.shop) {%>
        <p class="card-text">
          <a href="/shop/<%= post.shop.ShopDetails[0].name %>"><%= post.shop.ShopDetails[0].displayName %></a>
        </p>
        <% } %>
        <p class="card-text">
          <%= post.description %>
        </p>
        <p class="card-text">
          Stock: <%= post.stock %>
        </p>
        <p class="card-text">
          Price: <%= post.price %>
        </p>

        <form name="add-blog-post-form" id="add-blog-post-form" method="post" action="/cart/add">

          <input type="hidden" class="btn btn-primary" name="productId" value="<%= post.id %> "></a>
          <input type="submit" class="btn btn-primary" value="Add to cart"></a>
          <input type="number" style="width: 30%; text-align: center;" name="qnty" value="1"></a>
        </form>
      </div>
    </div>
    <!-- product card end -->
    <br />
    <% } %>

    <% if(posts.count > posts.data.length){ %>
    <div class="row justify-content-md-center">
      <div class="col-auto">
        <a href="/search?q=<%= search.q %>&page=<%= posts.page + 1 %>" class="btn btn-lg btn-outline-primary mb-3">Next</a>
      </div>
    </div>
    <% } %>

    <% if(search.q){ %>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <% for(let i=0; i < posts.pagination; i++) {%>
        <li class="page-item">
          <% if(page == i+1){ %>
          <a class="page-link active" href="/?q=<%= search.q %>&page=<%= i+1 %>"><%= i+1 %></a>
          <% } else { %>
          <a class="page-link" href="/?q=<%= search.q %>&page=<%= i+1 %>"><%= i+1 %></a>
          <% } %>
        </li>
        <% } %>
      </ul>
    </nav>
    <% } else{ %>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <% for(let i=0; i < posts.pagination; i++) {%>
        <li class="page-item">
          <% if(page == i+1){ %>
          <a class="page-link active" href="/?page=<%= i+1 %>"><%= i+1 %></a>
          <% } else { %>
          <a class="page-link" href="/?page=<%= i+1 %>"><%= i+1 %></a>
          <% } %>
        </li>
        <% } %>
      </ul>
    </nav>

    <% } %>
  </div>
</div>

<%- include('partials/footer'); -%>