<%- include('partials/header'); -%> <%- include('partials/navbar'); -%>

<div class="container">
  <h1>Buy here with joy</h1>
  <% for(var i=0; i < posts.length; i++) { %>

  <article>
    <h1><%= posts[i].name %></h1>
    <p><%= posts[i].description %></p>
    <a class="btn btn-primary" href="/product/<%= posts[i].id %>">View Product.</a>
  </article>
  <hr />
  <br />
  <% } %>
</div>

<%- include('partials/footer'); -%>
