<%- include('../../partials/header'); -%>
<%- include('../../partials/navbar'); -%>

<div class="container">
  <h2><%= categoryName %> category</h2>

  <% if(posts.data.length == 0){ %>
  <div>Products not found for <%= categoryName %> category</div>
  <% } %>


  <% if(search.q){ %>
  <% if(search.count > 0) {%>
  <div>Searched for <strong><%= search.q %></strong> found <strong><%= search.count %></strong> results! in <strong><%= search.time %></strong></div>
  <% }else{ %>
  <div>Searched for <strong><%= search.q %></strong> found <strong><%= search.count %></strong> results!</div>
  <% } %>
  <% } %>

  <div class="row justify-content-md-center">
    <% for(let post of posts.data) { %>


    <!-- product card start -->
    <div class="card" style="width: 18rem; margin: 10px;">

      <a href="/product/<%= post.id %>">

        <!-- display images -->
        <% for(let image in post.ProductImage){ %>
        <img class="card-img-top" src="/uploads/products/<%= post.ProductImage[image].url %>" alt=" <%= post.name %>" />
        <% } %>
      </a>

      <div class="card-body">
        <h5 class="card-title">
          <a href="/product/<%= post.id %>">
            <%= post.name %>
          </a>
        </h5>
        <% if(post.shop) {%>
        <p class="card-text">
          <a href="/shop/<%= post.shop.ShopDetails[0].name %>"><%= post.shop.ShopDetails[0].displayName %></a>
        </p>
        <% } %>
        <p class="card-text">
          <%- post.description %>
        </p>
        <p class="card-text">
          Stock: <%= post.stock %>
        </p>
        <p class="card-text">
          Price: <%= post.price %>
        </p>

        <form name="add-blog-post-form" id="add-blog-post-form" method="post" action="/cart/add">

          <input type="hidden" class="btn btn-primary" name="productId" value="<%= post.id %> "></a>
          <input type="submit" class="btn btn-primary" value="Add to cart"></a>
          <input type="number" style="width: 30%; text-align: center;" name="qnty" value="1"></a>
        </form>
      </div>
    </div>
    <!-- product card end -->
    <br />
    <% } %>

    <% if(posts.count > posts.data.length){ %>
    <div class="row justify-content-md-center">
      <div class="col-auto">
        <a href="/search?q=<%= search.q %>&page=<%= posts.page + 1 %>" class="btn btn-lg btn-outline-primary mb-3">Next</a>
      </div>
    </div>
    <% } %>

    <% if(search.q){ %>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <% for(let i=0; i < posts.pagination; i++) {%>
        <li class="page-item">
          <% if(page == i+1){ %>
          <a class="page-link active" href="/?q=<%= search.q %>&page=<%= i+1 %>"><%= i+1 %></a>
          <% } else { %>
          <a class="page-link" href="/?q=<%= search.q %>&page=<%= i+1 %>"><%= i+1 %></a>
          <% } %>
        </li>
        <% } %>
      </ul>
    </nav>
    <% } else{ %>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <% for(let i=0; i < posts.pagination; i++) {%>
        <li class="page-item">
          <% if(page == i+1){ %>
          <a class="page-link active" href="/?page=<%= i+1 %>"><%= i+1 %></a>
          <% } else { %>
          <a class="page-link" href="/?page=<%= i+1 %>"><%= i+1 %></a>
          <% } %>
        </li>
        <% } %>
      </ul>
    </nav>

    <% } %>
  </div>
</div>

<%- include('../../partials/footer'); -%>