<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>

<div class="container">

  <div class="p-2 d-flex justify-content-between">
    <h1>Checkout</h1>
  </div>

  <div class="row justify-content-md-center">
    <table class="table table-hover">
      <% for(var i=0; i < carts.length; i++) { %>

      <tr>
        <% if(carts[i].product.ProductImage.length > 0) {%>
        <td>
          <img src="/uploads/products/<%= carts[i].product.ProductImage[0].url %>" alt="<%= carts[i].product.name %>" width="100" height="100">
        </td>
        <% }%>
        <td>
          <div class="d-flex justify-content-between">
            <h3> <a href="/product/<%= carts[i].product.id %>"><%= carts[i].product.name %></a></h3>

            <form action="/cart/<%= carts[i].id %>/delete" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>

          </div>

          <p>Price: <%= carts[i].product.price %></p>
          <p>Quantity: <%= carts[i].quantity %></p>
          <p>Total: <%= carts[i].product.price*carts[i].quantity %></p>
        </td>

      </tr>

      <% } %>
    </table>

  </div>


  <div style="background: rebeccapurple;" class="shadow p-3 mb-5 rounded p-4 h-100 d-flex align-items-center justify-content-center">

    <form style="display: inline;" id="order_form" action="/order?pm=stripe" method="POST">
      <input type="hidden" name="orderItemId" value="<%= uuid %> "></a>
      <button class="btn btn-primary" type="submit">Pay</button>
    </form>

    <div style="margin: 10px;"></div>
    
    <form id="order_form" action="/order?pm=paypal" method="POST">
      <input type="hidden" name="orderItemId" value="<%= uuid %> "></a>
      <button class="btn btn-primary" type="submit">Pay With Paypal</button>
    </form>

  </div>


</div>

<%- include('../partials/footer'); -%>