<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>

<div class="container">

  <div class="row justify-content-md-center">
    <h1>My Order</h1>

    <table class="table table-striped table-hover">
      <tr>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Order Status</th>
        <th>Order Total ($)</th>
        <th>Order Details</th>
      </tr>
      <% for (let order of orders.data) { %>
      <tr>
        <td><%= order.orderId %></td>
        <td><%= order.createdAt %></td>
        <td>
          <div style="display: inline;">
            <%= order.status %>
          </div>
          <% if(
            (order.status != "order_placed")) {%>

          <% }else{ %>
          <form style="display: inline;" id="order_form" action="/order/pay/<%= order.orderId %>?pm=stripe" method="POST">
            <button class="btn btn-primary" type="submit">Pay</button>
          </form>
          <form style="display: inline;" id="order_form" action="/order/pay/<%= order.orderId %>?pm=paypal" method="POST">
            <button class="btn btn-primary" type="submit">Pay With Paypal</button>
          </form>

          <form style="display: inline;" action="/order/cancel/<%= order.orderId %> " method="post">
            <button class="btn btn-danger" type="submit">Cancel</button>
          </form>
          <% } %>

        </td>
        <td><%= order.price %></td>
        <td><a href="/order/<%= order.orderId %>">View</a></td>
      </tr>
      <% } %>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <% for(let i=0; i < orders.pagination; i++) {%>
        <li class="page-item">
          <% if(page == i+1){ %>
          <a class="page-link active" href="/order?page=<%= i+1 %>"><%= i+1 %></a>
          <% } else { %>
          <a class="page-link" href="/order?page=<%= i+1 %>"><%= i+1 %></a>
          <% } %>
        </li>
        <% } %>
      </ul>
    </nav>
  </div>

</div>

<%- include('../partials/footer'); -%>