<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>

<div class="container">
  <h1>Find your favorite shop</h1>

  <div class="d-flex flex-row justify-content-center">
    <form class="row g-3" action="/shop" method="get">

      <% if(search.q){ %>
      <div class="col-auto">
        <input type="search" name="q" value="<%= search.q %>" class="form-control form-control-lg" id="" placeholder="Search what you want...">
      </div>
      <% }else{%>
      <div class="col-auto">
        <input type="search" name="q" class="form-control form-control-lg" id="" placeholder="Search what you want...">
      </div>
      <% } %>
      <div class="col-auto">
        <button type="submit" class="btn btn-lg btn-outline-primary mb-3">Search</button>
      </div>

      <% if(search.q){ %>
      <% if(search.count > 0) {%>
      <div>Searched for <strong><%= search.q %></strong> found <strong><%= search.count %></strong> results! in <strong><%= search.time %></strong></div>
      <% }else{ %>
      <div>Searched for <strong><%= search.q %></strong> found <strong><%= search.count %></strong> results!</div>
      <% } %>
      <% } %>

    </form>
  </div>
  <div class="row justify-content-md-center">
    <% for(let shop of shops.data) { %>


    <!-- product card start -->
    <div class="card" style="width: 18rem; margin: 10px;">

      <div class="card-body">
        <h5 class="card-title">
          <a href="/product/<%= shop.id %>">
            <a href="/shop/<%= shop.ShopDetails[0].name %>">
              <%= shop.ShopDetails[0].displayName %>
            </a>
          </a>
        </h5>
        <p class="card-text">
          <%= shop.ShopDetails[0].description %>
        </p>
      </div>
    </div>
    <!-- product card end -->
    <br />
    <% } %>

    <% if(search.q){ %>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <% for(let i=0; i < shops.pagination; i++) {%>
        <li class="page-item">
          <% if(page == i+1){ %>
          <a class="page-link active" href="/shop?q=<%= search.q %>&page=<%= i+1 %>"><%= i+1 %></a>
          <% } else { %>
          <a class="page-link" href="/shop?q=<%= search.q %>&page=<%= i+1 %>"><%= i+1 %></a>
          <% } %>
        </li>
        <% } %>
      </ul>
    </nav>
    <% } else{ %>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <% for(let i=0; i < shops.pagination; i++) {%>
        <li class="page-item">
          <% if(page == i+1){ %>
          <a class="page-link active" href="/shop?page=<%= i+1 %>"><%= i+1 %></a>
          <% } else { %>
          <a class="page-link" href="/shop?page=<%= i+1 %>"><%= i+1 %></a>
          <% } %>
        </li>
        <% } %>
      </ul>
    </nav>

    <% } %>
  </div>
</div>

<%- include('../partials/footer'); -%>